.git
.gitignore
**/node_modules
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/.tsbuild
web/dist
web/test-results
web/playwright-report
server/data
server/*.egg-info
.superpowers
docs
*.png
start.bat
